# Security
DJANGO_SECRET_KEY=your-secret-key-here
DJANGO_DEBUG=True

# Database Configuration
DB_NAME=pricecom
DB_USER=root 
DB_PASSWORD=root123
DB_HOST=localhost
DB_PORT=3306

## S.
SERPAPI_API_KEY=your-serpapi-api-key-here

# Email Configuration (If needed later)
# EMAIL_HOST_USER=...
# EMAIL_HOST_PASSWORD=...
