Django>=4.2
python-dotenv
mysqlclient
Pillow
django-cors-headers
djangorestframework
djangorestframework-simplejwt
django-ratelimit
selenium
webdriver-manager
fake-useragent
django-allauth
cryptography
http://127.0.0.1:8000/accounts/register